<% layout("layouts/boilerplate") %>

<body>
    <!-- Imported Filter HTML file. -->
    <%- include("../includes/filter.ejs") %>

    <!-- All Listing Section -->
    <div class="card-container row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
        <% for (let listing of listings) { %>

        <!-- Making clickable card by wrapping in side anchor tag. -->
        <a href="/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img
                    src="<%= listing.image.url %>"
                    class="card-img-top"
                    alt="Card Image"
                    style="height: 15rem" />

                <!-- Overlay Effect on Card -->
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <h6 class="card-title"><%= listing.title %></h6>
                    <p class="card-text">
                        &#8377;<%= listing.price.toLocaleString("en-IN") %><span> per guest</span>
                        <small><i class="tax-info">&nbsp;&nbsp;&nbsp;&nbsp;+18% GST</i></small>
                    </p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
</body>
